<h1>Welcome <%= @user.username %>!</h1>
<p>Your remaining balance: $<%= @user.balance %><br></p>
<p>
    <%= link_to "Your Donations", user_donations_path(@user) %>
</p>
<p>
    <h3>Make a Donation</h3>
    <%= form_for Donation.new, url: user_donations_path(@user), method: "POST" do |f| %>
        Amount:<br>
        <%= f.text_field :amount %><br><br>
        Add a message:<br>
        <%= f.text_area :message %><br>
        Select an exhibit:<br>
        <%= f.collection_select :exhibit_id, Exhibit.all, :id, :name %><br><br>
        <%= f.submit "Donate" %>
    <% end %>
</p>
<h3><%= link_to "Visit the Zoo", exhibits_path %></h3>