<h1>Edit Exhibit</h1>
<p>
    <%= form_for @exhibit, url: zookeeper_user_exhibit_path(@user, @exhibit), method: "PATCH" do |f| %>
        Edit Exhibit Name:<br>
        <%= f.text_field :name, value: nil %><br><br>
        <%= f.submit %>
    <% end %>
</p>
<p>
    <% if @exhibit.errors.any? %>
        <% @exhibit.errors.full_messages.each do |msg| %>
            <%= msg %><br>
        <% end %>
    <% end %>
</p>
<h3>Current Funds: $<%= @exhibit.funds %></h3>
<h3>Current Animals</h3>
<% if @exhibit.animals.empty? %>
    <p>There are currently no animals in this exhibit.</p>
<% else %>
    <% @exhibit.animals.each do |animal| %>
        <p>
            <%= animal.name %><br>
            Species: <%= animal.species %><br>
            <%= link_to "Release #{animal.name}", zookeeper_user_animal_path(@user, animal), method: "DELETE" %>
        </p>
    <% end %>
<% end %>
<p>
    <h3>Add new animal to the exhibit (costs $200).</h3>
    <%= form_for @animal, url: zookeeper_user_animals_path(@user), method: "POST" do |f| %>
        <%= f.hidden_field :exhibit_id, {:value => @exhibit.id} %>
        <%= render partial: "new_animal_form", locals: {animal_builder: f} %>
        <%= f.submit "Add New Animal" %>
    <% end %>
</p>
<p>
    <% if @animal.errors.any? %>
        <% @animal.errors.full_messages.each do |msg| %>
            <%= msg %><br>
        <% end %>
    <% end %>
    <%= flash[:message] %>
</p>