<h1>Open New Exhibit</h1>
<%= form_for @exhibit, url: zookeeper_user_exhibits_path(@user), method: "POST" do |f| %>
    Exhibit Name:<br>
    <%= f.text_field :name %><br><br>
    
    <h4>Animal Info</h4>
    <%= f.fields_for :animals do |animal_builder| %>
        <%= animal_builder.label "Name:" %><br>
        <%= animal_builder.text_field :name %><br><br>
        <%= animal_builder.label "Species:" %><br>
        <%= animal_builder.text_field :species %><br><br>
    <% end %>
    <%= f.submit %>
<% end %>