<h1><%= @exhibit.name %></h1>
<p>Current Funds: $<%= @exhibit.funds %></p>
<h3>The following animals are in the exhibit.</h3>

<% @exhibit.animals.each do |animal| %>
    <p>
        <%= animal.name %><br>
        Species: <%= animal.species %><br>
        <%= animal.mood %><br>
        Hunger: <%= animal.how_hungry %>
        <% if animal.hunger.to_i < 2 %>
            | <%= link_to "Feed", zookeeper_user_animal_actions_path(@user, animal, action_type: "Feed"), method: "POST" %><br>
        <% else %>
            <br>
        <% end %>
        Health: <% if animal.sick %>
            <%= animal.name %> appears to be sick.
            | <%= link_to "Cure Animal", zookeeper_user_animal_actions_path(@user, animal, action_type: "Cure"), method: "POST" %>
        <% else %>
            <%= animal.name %> seems healthy.
        <% end %>
    </p>
<% end %>
<p>
    Add new animal to the exhibit (costs $200).<br>
    <%= form_for @animal, url: zookeeper_user_animals_path(@user), method: "POST" do |f| %>
        <%= f.hidden_field :species, {:value => @exhibit.animals.first.species} %>
        <%= f.hidden_field :exhibit_id, {:value => @exhibit.id} %>
        <%= f.label "Name" %><br>
        <%= f.text_field :name %><br><br>
        <%= f.submit "Add New Animal" %>
    <% end %>
</p>