<h1><%= @exhibit.name %></h1>
<p>
    Current Funds: $<%= @exhibit.funds %><br>
    <%= link_to "Edit Exhibit", edit_zookeeper_user_exhibit_path(@user, @exhibit) %>
</p>
<h3>The following animals are in the exhibit.</h3>

<% if @exhibit.animals.empty? %>
    <p>There are no animals currently in this exhibit.</p>
<% else %>
    <% @exhibit.animals.each do |animal| %>
        <p>
            <%= animal.name %><br>
            Species: <%= animal.species %><br>
            <%= animal.mood %><br>
            <%= link_to "#{animal.name}'s Details", zookeeper_user_animal_path(@user, animal) %>
        </p>
    <% end %>
<% end %>