<h1><%= @animal.name %></h1>
<p><%= render partial: "animals/show_animal", locals: {animal: @animal} %></p>
<p>
    <%= flash[:message] %><br>
    <%= link_to "Feed #{@animal.name}", zookeeper_user_animal_actions_path(@user, @animal, action_type: "Feed"), method: "POST" %>
    | <%= link_to "Give #{@animal.name} Medicine", zookeeper_user_animal_actions_path(@user, @animal, action_type: "Cure"), method: "POST" %>
    | <%= link_to "View Actions for #{@animal.name}", zookeeper_user_animal_actions_path(@user, @animal) %>
    | <%= link_to "Rename #{@animal.name}", edit_zookeeper_user_animal_path(@user, @animal) %>
</p>