<h1>Donations</h1>

<h3>Donation Status: <%= @user.donation_status %></h3>

<% if @user.donation_status == "Platinum" %>
    <p><%= link_to "Become Zookeeper", zookeeper_users_path, method: :post %></p>
<% end %>

<p>
    <% if @user.donations.size == 0 %>
            <%= "You have made no donations." %>
    <% else %>
        <% @user.donations.each do |donation| %>
            <p>
                <%= "$#{donation.amount} made to #{donation.exhibit.name}" %><br>
                <%= donation.message %><br>
                <%= link_to "Edit Message", edit_user_donation_path(@user, donation) %>
            </p>
        <% end %>
    <% end %>
</p>